<section id="profile" class="my-5">
  <div class="container-fluid w-75">
    <div class="row justify-content-start">
      <div class="col-md-6">
        <button
          type="button"
          class="
            btn
            mb-3
            ml-3
            p-2
            pl-4
            w-25
            font-weight-bold
            bg-primary
            add_btn
          "
          data-toggle="modal"
          data-target="#addStock"
        >
          <i class="fas fa-plus text-white"></i>
        </button>
      </div>
    </div>
    <div class="row">
      <table class="table text-white">
        <thead class="text-center">
          <th>Symbol</th>
          <th>Name</th>
          <th>Price</th>
          <th># Contractors</th>
          <th>Buy value</th>
          <th>current value</th>
          <th>Yield</th>
          <th></th>
          <th></th>
          <th></th>
        </thead>
        <tbody id="tableBody">
          <tr class="text-center" *ngFor="let stock of allStocks">
            <td>{{ stock.vwdKey }}</td>
            <td>{{ stock.name || "-" }}</td>
            <td>{{ stock.price }}</td>
            <td>{{ stock.volume || 0 |  number: '1.0-0'}}</td>
            <td>{{ stock.open }}</td>
            <td>{{ getCurrentValue(stock) |  number: '1.0-0' }}</td>
            <td>{{ getYield(stock) || 0 |  number: '1.0-0' }}</td>
            <td>
              <button
                (click)="buyStock(stock)"
                class="btn text-white bg-success"
              >
                Buy
              </button>
            </td>
            <td>
              <button
                (click)="deleteStock(stock)"
                class="btn text-white bg-danger"
              >
                delete
              </button>
            </td>
          </tr>
          <tr class="text-center">
            <td class="font-weight-bold">Total</td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{ totalBought }}</td>
            <td>{{ totalCur }}</td>
            <td>{{ totalYield }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>

<!--Add Modal -->
<div
  class="modal fade"
  id="addStock"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog text-black">
    <div class="modal-content">
      <form [formGroup]="addForm">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLabel">Add Stock</h3>
          <button
            type="button"
            class="close text-white"
            data-dismiss="modal"
            (click)="reset()"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h4>Symbol</h4>
          <input class="form-control mb-2" formControlName="vwdKey" />
          <h4># of Contractors</h4>
          <input class="form-control mb-2" formControlName="volume" />
          <h4>Buy Value</h4>
          <input class="form-control mb-2" formControlName="open" />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" (click)="addStock()">
            Add
          </button>
          <button
            type="button"
            class="btn btn-danger"
            (click)="reset()"
            data-dismiss="modal"
          >
            Close
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- End Modal -->
